<mat-toolbar color="primary">
    <span><a routerLink="/">Kaio Rosa</a></span>
    <span class="spacer"></span>
    <span>
        <ul>
            <li>
                <a mat-button routerLink="/">Home</a>
            </li>
            <li>
                <a mat-button routerLink="/about" routerLinkActive="mat-warn">About</a>
            </li>
            <li>
                <a mat-button routerLink="/projects" routerLinkActive="mat-warn">Projects</a>
            </li>
            <li>
                <a mat-button routerLink="/contact" routerLinkActive="mat-warn">Contact</a>
            </li>
        </ul>
    </span>
</mat-toolbar>